.LoginPage
{
    padding: 16px;
}

.LoginPage form
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20%;
}

.LoginPage form img
{
    height: 200px;
    margin-bottom: 24px;
}

.LoginPage form span
{
    margin-bottom: 16px;
    text-align: center;
    color: var(--primary);
    font-size: 10pt;
}

.LoginPage form .ButtonAction
{
    margin: 0 auto;
}