.DatePicker
{
    border: 2px solid var(--border);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: 200ms;
}

.DatePicker:focus
{
    border: 2px solid var(--primary);
}

